*{
  margin: 0;
  box-sizing: border-box;
 
}
.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 52%, rgba(253,187,45,1) 100%);
 
}